/* Sparkline chart height classes */
.sparklineHeight0 { height: 0%; }
.sparklineHeight10 { height: 10%; }
.sparklineHeight20 { height: 20%; }
.sparklineHeight30 { height: 30%; }
.sparklineHeight40 { height: 40%; }
.sparklineHeight50 { height: 50%; }
.sparklineHeight60 { height: 60%; }
.sparklineHeight70 { height: 70%; }
.sparklineHeight80 { height: 80%; }
.sparklineHeight90 { height: 90%; }
.sparklineHeight100 { height: 100%; }
